---
const navItems = [
  { path: "/", label: "Home" },
  { path: "/blog", label: "Blog" },
  { path: "/projects", label: "Projects" },
  { path: "/about", label: "About" },
  { path: "/uses", label: "Uses" },
  { path: "/rss.xml", label: "RSS" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <a href="/" rel="home">
        <span role="img" aria-label="home">Home</span>
      </a>

      <!-- nav -->
      <nav>
        {navItems.map((item) => <a href={item.path}>{item.label}</a>)}
      </nav>
    </header>

    <!-- content -->
    <slot />
  </body>
</html>

<style is:global>
  @layer css-reset {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    * {
      margin: 0;
    }

    html,
    body {
      height: 100%;
    }

    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }

    #root {
      isolation: isolate;
    }
  }
</style>
